<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" href="../static/icons/favicon.svg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style_files/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">

    <!-- additional stylings -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <title><%=title %></title>
</head>

<body>

    <!-- included navbar using ejs  -->
    <%- include("navbar") %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 my-4" id="main">

        <div class="table-responsive-lg table-responsive-md mt-5 mx-5">
            <h3 class="text-center" style="color: orange;">My Cart</h3>
            <button type="button" class="float-right btn btn-lg btn-danger my-5" style="color: white;"><img
                    src="../static/icons/cancel_order.svg" alt="" style="width: 2rem;">Cancel Order</button>
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">Select To Cancel</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox"
                                    value="option1" aria-label="...">
                            </div>
                        </th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                              </div>
                        </th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                              </div>
                        </th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr style="background-color: orange;">
                        <th scope="row">Grand Total</th>
                        <td colspan="2"></td>
                        <td>₹ 1522</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <%- include("footer.ejs")%>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/jquery.js"></script>
    <script src="../static/boostrap.pop.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/js_files/buy.js"></script>
</body>

</html>