<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style_files/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/icons/favicon.svg">

    <!-- additional stylings -->
    <style>
        .bd-placeholder-img {
            font-size: 1.270rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <title><%=title%></title>
</head>

<body>

    <%- include("navbar") %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 my-4" id="main">
        <div class="container signup col-md-4">
            <h4 class="heading mt-5">Login</h4>
            <h4 class="sub_heading mb-5">New User<a href="/signup" style="text-decoration: none;">&nbsp;Signup</a></h4>
            <form action="/login" method="POST">

                <!-- email section -->
                <div class="form-row">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" name="email" required="">
                </div>

                <!-- password section -->
                <div class="form-row mt-4">
                    <div class="form-group col-md-10 col-sm-5">
                        <label for="inputEmail4">Password</label>
                        <input type="password" class="form-control" name="password" id="pass" required="">
                    </div>
                    <div class="form-group col-md-2 col-sm-2">
                        <img src="../static/icons/visibility.svg" alt="" style="height: 2.5rem; margin-top: 30px;"
                            id="visibility">
                    </div>
                </div>

                <button type="submit" class="btn btn-lg my-4"
                    style="background-color: #ec7129; color:white;">Login</button>
            </form>
        </div>

        <%- include("footer.ejs")%>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/jquery.js"></script>
    <script src="../static/boostrap.pop.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/js_files/signup.js"></script>
</body>

</html>
