<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow" style="background-color:orange;">
  <div class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">
    <img src="../static/icons//menu.svg" alt="" style="width: 1.5rem; margin:0 1rem;" id="menu">
    <a href="/" id="brand"><img src="../static/images/logo.png" alt="" style="width: 5rem;"></a>
  </div>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form id="search" class="w-100" style="padding: 0 20px;">
    <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search" id="search_query">
  </form>
</nav>

<div class="container-fluid">
  <div class="row" id="dashboard">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0)" style="color: orange;">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/buy">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#products">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">
              <span data-feather="shopping-cart"></span>
              Write Us
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Users Link</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/signup">
              <span data-feather="file-text"></span>
              Signup
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">
              <span data-feather="file-text"></span>
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <span data-feather="file-text"></span>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>