<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" href="../static/icons/favicon.svg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style_files/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">

    <!-- additional stylings -->
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <title><%=title %></title>
</head>

<body>

    <!-- included navbar using ejs  -->
    <%- include("navbar") %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 my-4" id="main">

        <!-- showing details of a product -->
        <div style="margin-top:100px;">
            <h3 class="text-center" style="color: orange; margin: 100px 0;">Product Name</h3>
            <div class="card-deck">
                <div class="col-md-3">
                    <div class="card" style="border:none;">
                        <img src="../static/images/products/1.jfif" class="card-img-top" alt="...">
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <a href="#" class="btn" style="background-color: orange; color: white;"><img src="../static/icons/buy.svg" alt="" style="width: 1.5rem;"> Buy</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="btn" style="background-color: orange; color: white;"><img src="../static/icons/wishlist.svg" alt="" style="width: 1.5rem;"> Wishlist</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card" style="border: none;">
                        <h5 class="card-title" style="color: orange;">Description</h5>
                        <p class="card-text" style="font-size: 1rem; font-family: 'Kumbh Sans', sans-serif;">Lorem ipsum
                            dolor sit amet consectetur adipisicing elit. Incidunt, dolorum aliquid, consequatur repellat
                            architecto natus distinctio debitis quae esse ex commodi expedita, a delectus! Aliquid vero
                            natus reiciendis, minima laudantium voluptas numquam ducimus consectetur doloremque expedita
                            unde nobis dolore non libero fugiat nihil aspernatur velit recusandae fugit ea magnam
                            dignissimos error. Numquam, doloribus placeat atque commodi natus nulla illo unde
                            accusantium a hic voluptas exercitationem dolore sunt optio quos facere reiciendis cumque
                            sint, soluta eaque? Non eligendi totam culpa? Accusantium excepturi, at deleniti blanditiis
                            quae hic ea iste perferendis obcaecati, atque autem distinctio magnam nostrum modi ex
                            voluptates facere provident.</p>
                        <p class="card-text" style="font-size: 1rem; font-family: 'Kumbh Sans', sans-serif;">Lorem ipsum
                            dolor sit amet consectetur adipisicing elit. Incidunt, dolorum aliquid, consequatur repellat
                            architecto natus distinctio debitis quae esse ex commodi expedita, a delectus! Aliquid vero
                            natus reiciendis, minima laudantium voluptas numquam ducimus consectetur doloremque expedita
                            unde nobis dolore non libero fugiat nihil aspernatur velit recusandae fugit ea magnam
                            dignissimos error. Numquam, doloribus placeat atque commodi natus nulla illo unde
                            accusantium a hic voluptas exercitationem dolore sunt optio quos facere reiciendis cumque
                            sint, soluta eaque? Non eligendi totam culpa? Accusantium excepturi, at deleniti blanditiis
                            quae hic ea iste perferendis obcaecati, atque autem distinctio magnam nostrum modi ex
                            voluptates facere provident.</p>
                        <p class="card-text" style="font-size: 1rem; font-family: 'Kumbh Sans', sans-serif;">Lorem ipsum
                            dolor sit amet consectetur adipisicing elit. Incidunt, dolorum aliquid, consequatur repellat
                            architecto natus distinctio debitis quae esse ex commodi expedita, a delectus! Aliquid vero
                            natus reiciendis, minima laudantium voluptas numquam ducimus consectetur doloremque expedita.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- related products -->


        <%- include("footer.ejs")%>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/jquery.js"></script>
    <script src="../static/boostrap.pop.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/js_files/product_view.js"></script>
</body>

</html>